header {
  text-align: center;
  background-color: skyblue;

}

header a {
  margin: 15px;
  font-family: fantasy;
  font-size: 1.25em;
  text-decoration: none;
}

img {
  max-width: 40%;
  align-items: center;
}
h1 {
  text-align: center;
  color: navy;

}
h2{
  color: skyblue;
}

body {
  background-color: lightyellow;
  margin: 10px;
}

p {
  color: darkblue;
}

ul {
  font-style: italic;
}

ol {
  font-family: sans-serif;
}
